@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Mada:wght@200..900&display=swap");
@import "tailwindcss";

@plugin 'tailwind-scrollbar' {
  nocompatible: true;
}

@custom-variant dark (&:where(.dark, .dark *));


:root {
  --shadow-color: rgba(0, 0, 0, 0.2); /* Light mode shadow */
}

.dark :root {
  --shadow-color: rgba(255, 255, 255, 0.05); /* Dark mode shadow */
}

@theme {
  --font-outfit: "Outfit", sans-serif;
  /* arabic font  */
  --font-mada: "Mada", sans-serif;
  --font-dancing-script: "Dancing Script", cursive;

  --color-my-light: oklch(0.98 0 0); /* #f8f8f8*/

  --container-8xl: 90rem;
}
/* .dark {

} */


@layer base {
  body {
    font-family: var(--font-outfit);
  }
}

@layer components {
  .card {
    @apply flex flex-col gap-1 ;
  }
  .card-side {
    @apply flex;
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes float-reverse {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-float {
  animation: float 5s ease-in-out infinite;
}

.animate-float-reverse {
  animation: float-reverse 5s ease-in-out infinite;
}

*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

*::-webkit-scrollbar
{
	width: 3px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb
{
	background-color: #4a5556;
	border: 1px solid #4a5556;
}



